<div class="product">
  <img class="product__image" [src]="shopData.imageURL" alt="">
  <h2>{{shopData.title}}</h2>
  <p>{{shopData.description}}</p>
  <p>{{shopData.price}} $</p>
  <button class="product__button" (click)="buyItems()">Buy <span *ngIf="itemCount>0">({{itemCount}})</span>
  </button>
</div>
