@import "../../../../styles";
.product {
  position: relative;
  padding: 20px;
  text-align: center;
  height: 330px;

  @include shadow-template;

  &__image {
    width: 140px;
    text-align: center;
  }

  &__button {
    position: absolute;
    bottom: 10px;
    left: 18px;
    width: 90%;
    height: 35px;
    border: 1px solid #2ecc71;
    transition: 0.3s;
    margin: 0 auto;

    &:hover {
      background: #2ecc71;
      color: white;
      cursor: pointer;
    }
  }

}
