<header class="header">
  <div class="container">
    <div class="header-layout">
      <a routerLink="/shop" routerLinkActive="activebutton">
        <img class="header-layout__image" src="./assets/shop-icon.png"
             alt="shop"></a>
      <a class="header-layout__image-cart" routerLink="/cart" routerLinkActive="activebutton">
        <span *ngIf="shopService.cartData$.getValue().totalCount>0"
              class="header-layout__total-count">{{shopService.cartData$.getValue().totalCount}}</span>
        <img src="./assets/cart-icon.png" alt="cart">
      </a>

    </div>
  </div>
</header>


