.header {
  background: #2ecc71;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;

  &-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    &__image {
      width: 50px;

      &-cart {
        position: relative;
        width: 50px;

      }

    }

    &__total-count {
      padding: 1px 8px;
      position: absolute;
      top: -5px;
      right: -12px;
      border-radius: 50px;
      background: red;
      color: white;
      font-size: 12px;

    }

  }
}
