<div class="container">
  <div class="search">
    <input type="text" class="search-field" placeholder="Search" [(ngModel)]="query" id="listSearch">
  </div>
  <div class="shop-layout">
    <app-shop-item
      *ngFor="let shopItemData of shopService.shopItems | searchFilter: query"
      [shopData]="shopItemData"
    ></app-shop-item>
  </div>
</div>
