<div class="container">

  <div *ngIf="shopService.cartData$.getValue().totalCount>0 else empty">
    <div class="cart-summary">
      <span class="cart-summary__total-price">Total price: {{shopService.cartData$.getValue().totalPrice}} $</span>
      <button (click)="clearCart()" class="cart-summary__clear-btn">Clear cart</button>

    </div>

    <div class="cart">
      <div class="cart-items">
        <app-cart-item class="cart-items__item" *ngFor="let item of shopService.cartData$.getValue().cartItems"
                       [item]="item"></app-cart-item>
      </div>


      <div class="cart-form">
        <h2>Make a purchase</h2>
        <form [formGroup]="userPurchaseForm" (ngSubmit)="submitForm()">
          <input type="text" [ngClass]="{
          'cart-form__invalid': userPurchaseForm.get('name')?.invalid && userPurchaseForm.get('name')?.touched
          }" placeholder="Name" formControlName="name">

          <input type="text" [ngClass]="{
          'cart-form__invalid': userPurchaseForm.get('email')?.invalid && userPurchaseForm.get('email')?.touched
          }" placeholder="Email" formControlName="email">

          <input type="text" [ngClass]="{
          'cart-form__invalid': userPurchaseForm.get('phoneNumber')?.invalid && userPurchaseForm.get('phoneNumber')?.touched
          }" placeholder="Phone number" formControlName="phoneNumber">

          <input type="text" [ngClass]="{
          'cart-form__invalid': userPurchaseForm.get('city')?.invalid && userPurchaseForm.get('city')?.touched
          }" placeholder="City" formControlName="city">

          <input type="text" [ngClass]="{
          'cart-form__invalid': userPurchaseForm.get('address')?.invalid && userPurchaseForm.get('address')?.touched
          }" placeholder="Address" formControlName="address">

          <button [disabled]="userPurchaseForm.invalid" type="submit">Buy</button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #empty>
  <p class="cart-empty"> The cart is empty </p>
</ng-template>

