@import "src/styles";


.cart-summary {
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__total-price {
    font-size: 18px;
  }


  &__clear-btn {
    width: 150px;
    height: 35px;
    border: 1px solid #2ecc71;
    border-radius: 0;
    transition: 0.3s;

    &:hover {
      border: none;
      background: red;
      cursor: pointer;
      color: white;
    }

  }
}

.cart {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &-items {
    width: 55%;

    &__item {
      @include shadow-template;

      display: flex;
      align-items: center;
      margin-bottom: 15px;
      background: #b8b8b8;
      padding: 10px;

    }
  }

  &-form {
    @include shadow-template;
    width: 40%;
    background: lightgray;

    h2 {
      text-align: center;
      margin: 10px 0;
    }

    form {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      button {
        margin: 1.2rem 0;
        padding: 10px 0;
      }
    }

    &__invalid {
      border-color: red;
      border-width: 2px;
    }
  }

  &-empty {
    padding-top: 100px;
    font-size: 24px;
    text-align: center;
  }

}

@media only screen and (max-width: 1080px) {
  .cart {
    flex-direction: column;

    &-summary {
      width: 95%;
    }

    &-items {
      width: 95%;
      margin: 0 auto;
    }

    &-form {
      width: 95%;
      margin: 0 auto;
    }
  }
}
