.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  &__img {
    width: 80px;
  }

  &__text {
    margin-left: 35px;
    font-size: 14px;
  }

  &__price {
    position: absolute;
    right: 25%;
    font-size: 18px;
    font-weight: bold;
  }

  &__count {
    position: absolute;
    right: 0;

    span {
      width: 50px;
    }

    button {
      border: 1px solid #2ecc71;
      margin: 0 10px;
      padding: 5px 10px;
      transition: 0.6s;

      &:hover {
        background: #2ecc71;
        color: white;
        cursor: pointer;
      }

    }
  }
}

@media only screen and (max-width: 560px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;

    &__text {
      margin-left: 0;
    }


    &__count {
      bottom: 10%;
      right: 0;
    }

    &__price {
      right: 32px;
      top: 20%
    }
  }
}
