<div class="cart-item">
  <div>
    <img class="cart-item__img" [src]="item.imageURL" alt="item"/>
  </div>

  <div class="cart-item__text">
    <h2>{{item.title}} Id:{{'{' + item.id + '}'}}</h2>
    <p>{{item.description}}</p>
  </div>

  <div class="cart-item__price">
    {{item.price}} $
  </div>

  <div class="cart-item__count">
    <button class="cart-item__count-btn" (click)="minusCount()">-</button>
    <span>{{item.count}}</span>
    <button class="cart-item__count-btn" (click)="plusCount()">+</button>
  </div>

</div>
